@media (max-width:575px) {
    /* xs */
    .col-xs-1{width: 8.3333%;}
    .col-xs-2{width: 16.6666%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.3333%;}
    .col-xs-5{width: 41.6666%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.3333%;}
    .col-xs-8{width: 66.6666%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.3333%;}
    .col-xs-11{width: 91.6666%;}
    .col-xs-12{width: 100%;}

    .container{
        width: 100%;
        padding: 0px 10px;
    }

    /* Common  */
    .com-title{
        font-size: 36px;
        text-shadow: 2px 2px #484159;
    }
    .com-btn-design{
        letter-spacing: normal;
    }
    .dropdown{
        top: -8%;
        width: 90%;
    }
    
    /* Headline  */
    .headline h2{
        font-size: 12px;
        letter-spacing: 0;
    }
    header{
        width: 100%;
        padding: 0px;
    }
    .rated-cotent svg{
        width: 100%;
    }
    .header .navbar .search-shop{
        gap: 5px;
    }
    .toggle-menu{
        display: block;
    }
    /* Banner  */
    .banner{
        background-image: url(../images/mobile-banner-bg.jpg);
        height: 650px;
        padding: 24px;
    } 
    .banner .split-large{
        display: none;
    }
    .banner-main-box .com-btn-design{
        font-size: 12px;
    }
    .banner .split-small{
        display: block;
    }
    .banner-main-box .box-heading span{
        color: var(--head-line);
        display: block;
        font-size: 50px;
        text-shadow: 4px 4px #484159;
        line-height: 1;
    }
    .nav-mobile-screen{
        display: block;
    }
    .nav-laptop-screen{
        display: none;
    }
    .header .navbar .search-shop a svg{
        width: 24px;
        height: 24px;
    }

    /* SOC */
    .SOC-laptop-screen{
        display: none;
    }
    .SOC .SOC-box .SOC-box-p{
        font-size: 12px;
    }
    .SOC .SOC-box{
        width: 100px;
        padding: 16px 7px;
    }
    .SOC .SOC-title::before {
        top: 23px;
        margin-left: -33px;
    }
    .SOC .com-title{
        margin-bottom: 10px;
    }
    .SOC-btn a{
        font-size: 12px;
    }
    .SOC-bg-2{
        max-width: 200px;
        width: 26vw;
    }
    .SOC-bg-2 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* FC  */
    .swiper-container{
        padding: 0 15px;
    }
    .FC{
        margin: 30px 0;
    }
    .FC-shape span{
        font-size: 16px;
    }
    .FC-box-detail .FC-title{
        font-size: 16px;
    }
    .FC-star .FC-reviews{
        margin: 0 0 0 4px;
        font-size: 14px;
    }
    .FC-star svg{
        padding-right: 1px;
    }
    .FC-price .org-price{
        color: var(--button);
        font-size: 15px;
        font-weight: bold;
    }
    .FC-price .del-price{
        font-size: 15px;
        padding-left: 7px;
        color: #A38ED196;
    }
     /* Brushing */
     .brushing .container{
        max-width: 100%;
        width: 100%;
    }
    .Brush-container{
        padding: 0 0px;
    }
    .Brush-container .row{
        display: block;
    }
    .brush-small{
        display: block;
    }
    .brush-desktop{
        display: none;
    }
    .brush-image-desktop{
        display: block;
        width: 100%;
    }
    .brush-image-desktop img{
        width: 100%;
    }
    .brush-box-2 .brush-title h2{
        font-size: 36px;
        line-height: 36px;
    }
    .brush-box-2 .brush-p{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 15px;
    }
    .brush-box-2{
        padding-bottom: 40px;
    }
    .brush-main-box{
        margin: 5px 0;
    }
    .brush-box-2 {
        margin: 0;
        padding: 20px;
    }
    /* TENG */
    .teng-trust{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .teng-bg{
        width: 27vw;
    }
    .teng-grid-box{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2 , 1fr);
    }
    .teng-service-name h2{
        font-size: 14px;
    }
    .teng .container{
        padding: 0 24px;
    }
    .teng-title{
        margin: 0 20px;
        margin-bottom: 40px;
    }
    .teng-title::before{
        top: 9px;
    }

    /* Footer */
    .footer{
        padding: 48px 0 35px;
    }
    .footer-grid-box{
        display: block;
    }
    .footer .container{
        padding: 0 20px;
    }
    .footer-grid-box .f-box-1{
        text-align: center;
        margin-bottom: 40px;
    }
    .f-box-1 p{
        font-size: 14px;
        margin: 14px 0;
    }
    .f-box-1 .subscribe{
        font-size: 12px;
        margin: 25px 0 20px 0;
    }
    .f-input .f-btn{
        font-size: 14px;
    }
    .footer-policy ul li a{
        font-size: 14px;
    }
    .lower-footer{
        padding-top: 10px;
    }
    .lf-main-box .copyright{
        padding-top: 40px;
    }
    .lf-main-box{
        flex-direction: column-reverse;
        text-align: center;
    }
    .lf-main-box ul{
        flex-direction: column;
    }
    .lf-main-box ul li{
        margin: 10px 30px;
        font-size: 14px;
    }
}
@media (min-width:576px){
    /* sm */
    .col-sm-1{width: 8.3333%;}
    .col-sm-2{width: 16.6666%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.3333%;}
    .col-sm-5{width: 41.6666%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.3333%;}
    .col-sm-8{width: 66.6666%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.3333%;}
    .col-sm-11{width: 91.6666%;}
    .col-sm-12{width: 100%;}

    .container{
        max-width: 540px;
        width: 540px;
    }
    .toggle-menu{
        display: block;
    }
    .dropdown{
        top: -4.5%;
        width: 80%;
    }
    .banner{
        background-image: url(../images/mobile-banner-bg.jpg);
        height: 200vh;
    } 
    .banner .split-large{
        display: none;
    }
    .banner .split-small{
        display: block;
    }
    .banner-main-box .box-heading span{
        color: var(--head-line);
        display: block;
        font-size: 80px;
        text-shadow: 4px 4px #484159;
        line-height: 1;
    }
    .nav-mobile-screen{
        display: block;
    }
    .nav-laptop-screen{
        display: none;
    }
    .SOC-main-box{
        grid-template-columns: repeat(3,1fr);
    }
    .SOC-mobile-screen{
        display: none;
    }
    /* Brushing */
    .brushing .container{
        max-width: 100%;
        width: 100%;
    }
    .brush-small{
        display: block;
    }
    .brush-desktop{
        display: none;
    }
    .brush-image-desktop{
        display: block;
    }
    .brush-image-desktop img{
        width: 100%;
    }
    .brush-box-2 .brush-title h2{
        font-size: 36px;
        line-height: 36px;
    }
    .brush-box-2 .brush-p{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 15px;
    }
    .brush-box-2{
        padding-bottom: 70px;
    }
    .brush-main-box{
        margin: 30px 0;
    }
    .teng-grid-box{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    
}
@media (min-width:768px){
    /* md */
    .col-md-1{width: 8.3333%;}
    .col-md-2{width: 16.6666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.3333%;}
    .col-md-5{width: 41.6666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.3333%;}
    .col-md-8{width: 66.6666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.3333%;}
    .col-md-11{width: 91.6666%;}
    .col-md-12{width: 100%;}

    .container{
        max-width: 720px;
        width: 720px;
    }
    .dropdown{
        top: -4.5%;
        width: 50%;
    }
    .toggle-menu{
        display: block;
    }
    .banner{
        background-image: url(../images/mobile-banner-bg.jpg);
        height: 200vh;
    } 
    .banner .split-large{
        display: none;
    }
    .banner .split-small{
        display: block;
    }
    .banner-main-box .box-heading span{
        color: var(--head-line);
        display: block;
        font-size: 80px;
        text-shadow: 4px 4px #484159;
        line-height: 1;
    }
    .nav-mobile-screen{
        display: block;
    }
    .nav-laptop-screen{
        display: none;
    }
    /* SOC  */
    .SOC-main-box{
        grid-template-columns: repeat(4,1fr);
    }
    .SOC-mobile-screen{
        display: none;
    }
    .SOC-bg-2{
        max-width: 150px;
        width: 16vw;
        bottom: -18vw;
    }
    .SOC-bg-2 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /* Brushing */
    .brushing .container{
        max-width: 720px;
        width: 720px;
    }
    .Brush-container{
        padding: 0;
    }
    .brush-image-desktop{
        height: 100%;
    }
    .brush-box-2 .brush-title h2{
        padding-top: 0;
        margin-bottom: 10px;
        font-size: 63px;
        line-height: 63px;
    }
    .brush-box-2 .brush-p{
        font-size: 17px;
        line-height: 22px;
    }
    .brush-small{
        display: none;
    }
    .brush-desktop{
        display: block;
    }
    .brush-image-desktop{
        display: flex;
    }
    .brush-box-2{
        padding-bottom: 0px;
    }
    .teng-grid-box{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media (min-width:992px) {
    /* lg*/
    .col-lg-1{width: 8.3333%;}
    .col-lg-2{width: 16.6666%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.3333%;}
    .col-lg-5{width: 41.6666%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.3333%;}
    .col-lg-8{width: 66.6666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.3333%;}
    .col-lg-11{width: 91.6666%;}
    .col-lg-12{width: 100%;}

    .container{
        max-width: 960px;
        width: 960px;
    }
    .dropdown{
        top: -9%;
        width: 40%;
    }
    .toggle-menu{
        display: block;
    }
    .banner{
        height: 650px;
        background-image: url(../images/banner-bg.jpg);
    } 
    .banner .split-large{
        display: none;
    }
    .banner .split-small{
        display: block;
    }
    .banner-main-box .box-heading span{
        color: var(--head-line);
        display: block;
        font-size: 80px;
        text-shadow: 4px 4px #484159;
        line-height: 1;
    }
    .nav-mobile-screen{
        display: block;
    }
    .nav-laptop-screen{
        display: none;
    }
    .banner .split-large{
        display: block;
    }
    .banner .split-small{
        display: none;
    }
    .banner-main-box .box-heading span{
        font-size: 64px;
        line-height: 1;
    }

    /* SOC  */
    .SOC-main-box{
        grid-template-columns: repeat(4,1fr);
    }
    .SOC-mobile-screen{
        display: none;
    }
    .SOC-bg-2{
        max-width: 170px;
        width: 20vw;
        bottom: -20vw;
    }
    .SOC-bg-2 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /* Brushing */
    .brush-box-2 .brush-title h2{
        padding-top: 0;
        margin-bottom: 10px;
    }
    .brush-box-2 .brush-p{
        font-size: 17px;
    }
    .brushing .container{
        max-width: 960px;
        width: 960px;
    }
    .brush-box-2 .brush-title h2{
        padding-top: 15px;
        margin-bottom: 20px;
        font-size: 63px;
        line-height: 63px;
    }
    .brush-box-2 .brush-p{
        font-size: 18px;
        line-height: 22px;
    }
    .brush-small{
        display: none;
    }
    .brush-desktop{
        display: block;
    }
    .brush-box-2{
        padding-bottom: 0px;
    }
    .teng-grid-box{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
    }
    .teng-bg{
        width: 16vw;
    }
}
@media (min-width:1200px){
    /* xl */
    .col-xl-1{width: 8.3333%;}
    .col-xl-2{width: 16.6666%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.3333%;}
    .col-xl-5{width: 41.6666%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.3333%;}
    .col-xl-8{width: 66.6666%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.3333%;}
    .col-xl-11{width: 91.6666%;}
    .col-xl-12{width: 100%;}
    
    .container{
        max-width: 1140px;
        width: 1140px;
    }
    .toggle-menu{
        display: none;
    }
    .banner{
        height: 90vh;
        background-image: url(../images/banner-bg.jpg);
    }
    .nav-laptop-screen{
        display: block;
    }
    .banner .split-large{
        display: block;
    }
    .banner .split-small{
        display: none;
    }
    .banner-main-box .box-heading span{
        font-size: 80px;
        line-height: 1;
    }
    /* SOC  */
    .SOC-main-box{
        grid-template-columns: repeat(6,1fr);
    }
    .SOC-mobile-screen{
        display: none;
    }
    .SOC-bg img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .SOC-bg-2 {
        position: absolute;
        left: 0;
        width: 15vw;
        max-width: 200px;
        bottom: -15vw;
        z-index: -1;
    }
    /* Brushing */
    .Brush-container .container{
        max-width: 1140px;
        width: 1140px;
    }
    .brush-box-2 .brush-title h2{
        padding-top: 15px;
        margin-bottom: 20px;
        font-size: 63px;
        line-height: 63px;
    }
    .brush-box-2 .brush-p{
        font-size: 18px;
        padding: 0;
        line-height: 26px;
    }
    .brush-small{
        display: none;
    }
    .brush-desktop{
        display: block;
    }
    .brush-box-2{
        padding-bottom: 0px;
    }
}
@media (min-width:1440px){
    /* xxl */
    .col-xxl-1{width: 8.3333%;}
    .col-xxl-2{width: 16.6666%;}
    .col-xxl-3{width: 25%;}
    .col-xxl-4{width: 33.3333%;}
    .col-xxl-5{width: 41.6666%;}
    .col-xxl-6{width: 50%;}
    .col-xxl-7{width: 58.3333%;}
    .col-xxl-8{width: 66.6666%;}
    .col-xxl-9{width: 75%;}
    .col-xxl-10{width: 83.3333%;}
    .col-xxl-11{width: 91.6666%;}
    .col-xxl-12{width: 100%;}

    .container{
        max-width: 1320px;
        width: 1320px; 
    }
    .banner{
        height: 90vh;
        background-image: url(../images/banner-bg.jpg);
    }
    .nav-laptop-screen{
        display: block;
    }
    .banner .split-large{
        display: block;
    }
    .banner .split-small{
        display: none;
    }
    .banner-main-box .box-heading span{
        font-size: 108px;
        line-height: 1;
    }
    .SOC-mobile-screen{
        display: none;
    }
    .SOC-bg img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .SOC-bg-2 {
        max-width: 200px;
    }
    /* Brushing  */
    .Brush-container .container{
        max-width: 1320px;
        width: 1320px; 
    }
    .brush-small{
        display: none;
    }
    .brush-desktop{
        display: block;
    }
    .brush-box-2{
        padding-bottom: 0px;
    }
}